<footer>
<div class="footerMenu">
  <ul class="footer">
    <li class="footerMenu"><%= link_to "About", static_pages_about_path %></li>
    <li class="footerMenu"><%= link_to "Contact", root_path %></li>
    <li class="footerMenu"><%= link_to "FAQ", salons_show_path %></li>
  </ul>
</div>

</footer>
